body {
	margin: 0;
	padding: 0;
}

.box {
	width: 300px;
	height: 400px;
	background-color: #fff;
	border: 2px solid gray;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -200px;
}

.box_2 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}