/* Fonts files */
.opn-reg {
	font-family: 'Open Sans' , sans-serif;
	font-weight: 400;
}
.opn-bold {
	font-family: 'Open Sans' , sans-serif;
	font-weight: 600;
}

/* Base color */
@base-black: #706b73;
@base-red: #fc6744;
@white: #fff;
@base-text: #626262;
@bg-grey: #f5f5f5;
@bg-tomi: #4eb2f7;
@bg-koimona: #c049f8;
@bg-koire: #817eff;
@bg-lara: #f74770;

body {
	font-style: 14px;
	color: @base-text;
}
input, button, textarea {
	&:focus {
	outline: none;
	}
}
section {
	padding-top: 10%;
	padding-bottom: 10%;
}
.section-header {
	margin-bottom: 7%;
	h2 {
		font-size: 50px;
		.opn-bold;
		span {
			color: @base-red;
		}
	}
	p {
		font-size: 16px;
	}
}
/* Main Screen */
header {
	background: @bg-grey url(../img/main-bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 700px;
	height: 100vh;
}

.main_head {
	margin-top: 3%;
}

.main_logo_border {
	width: 150px;
	height: 55px;
	border: 3px solid #706b73;
	text-align: center;
	line-height: 49px;
}

.main_logo_border p {
	font-family: 'Open Sans' , sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #706b73;
}

.color_logo {
	color: #fa9a87;
}

.main_nav_bar {
	position: relative;
	float: right;
	height: 55px;
	width: 55px;
}

.line {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-right: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: block;
	width: 30px;
	height: 4px;
	background-color: #706b73;
	position: absolute;
	right: 0;
	left: 50%;
	top: 50%;
	--webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

.line:before {
	background-color: #706b73;
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	width: 30px;
	height: 4px;
	--webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	transform: translateY(-8px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.line:after {
	background-color: #706b73;
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	width: 30px;
	height: 4px;
	--webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.main {
	&-text {
		margin-top: 3%;
		text-align: center;
		h1 {
			font-style: 50px;
			span {
				color: @base-red;
			}
		}
		p {
			padding-left: 17px;
			padding-right: 17px;
		}
	}
	&-form {
		margin-top: 10%;
		padding: 35px;
		-webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
		box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		background-color: @white;
		&-header {
			text-align: center;
			font-size: 20px;
			.opn-bold;
			span {
				color: @base-red;
			}
		}
		input, textarea {
			width: 100%;
			border: none;
			border-bottom: 1px solid @base-black;
			margin-top: 30px;
			font-size: 15px;
		}
		&-btn {
			background-color: @base-red;
			border: none;
			padding: 15px 35px;
			color: @white;
			display:block;
			margin: 0 auto;
			margin-top: 30px;
			font-size: 16px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
			border-radius: 50px;
			span {
				font-size: 22px;
			}
			&:hover {
			box-shadow: 0px 6px 14px 0px rgba(199, 70, 70, 0.6);
			}
		}
	}
}

/* process cection */
#works {
	background: @bg-grey;
}
.process {
	&-box {
		color: @white;
		text-align: center;
		padding: 25px;
		padding-top: 35px;
		i.fa {
			font-size: 50px;
		}
		h4 {
			margin-top: 25px;
			font-size: 20px;
			.opn-bold;
		}
		p {
			font-size: 16px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		&:hover {
		box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
	}
	}
	&-btn {
		position: absolute;
		left: 50%;
		margin-left: -40%;
		bottom: -30px;
		border: none;
		color: @base-black;
		padding: 15px;
		width: 80%;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
		border-radius: 50px;
		background-color: @white;
		font-size: 16px;
		&:hover {
			box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
		}
	}
}
.btn-plus {
	vertical-align: middle;
	margin-right: 5px;
	width: 16px;
	height: 2px;
	display: inline-block;
	background-color: @base-black;
	&:before {
		display: inline-block;
		content: '';
		width: 16px;
		height: 3px;
		background-color: @base-black;
		position: absolute;
		-webkit-transform: rotate(90deg) translateY(8px);
		-ms-transform: rotate(90deg) translateY(8px);
		-o-transform: rotate(90deg) translateY(8px);
		transform: rotate(90deg) translateY(8px);
	}
}
.box {
	&-tomi {
		background-color: @bg-tomi;
	}&-koimona {
		background-color: @bg-koimona;
	}&-koire {
		background-color: @bg-koire;
	}&-lara {
		background-color: @bg-lara;
	}
}
i.fa-camera-retro {
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

/* Works Section */
.works-box {
	width: 100%;
	height: 360px;
	position: relative;
}
.signature {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: @white;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	&:hover {
		opacity: 1;
	}
}
.sign {
	p {
		.opn-bold;
		font-size: 22px;
	}
	button {
		border: none;
		padding: 15px 35px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
		border-radius: 50px;
		background-color: @base-red;
		&:hover {
			box-shadow: 0px 6px 14px 0px rgba(199, 70, 70, 0.6);
		}
	}
}
.works-row {
	margin-top: 3%;
}